@import "../../_mixins";
.BodyDiv {
    width: 86%;
    @include paddingStyle($left: 7%, $right: 7%, $bottom: 10vh)
}

.HeaderText{
    @include fontStyle($fontSize: 7.2vh, $fontWeight: normal);
    margin-top: 12vh;
    margin-bottom: 5vh;
    text-decoration: underline;
    text-align: center
}

.IntroText{
    @include fontStyle($fontSize:3vh, $lineHeight:5vh);
    margin-bottom: 0vh;
    @include paddingStyle($top: 0vh, $right: 3vw, $left: 3vw);
    text-align: center;
}

.BodyContent {
    @include flexStyle($justify: space-between);
    // margin-bottom: 7.5vh;
}      

.question {
    margin-top: 8vh;
    align-items: baseline;
    color: yellow;
}

.answer {
    opacity: 0;
}

.question_hover {
    @extend .question;
    margin-top: 2vh;
    transition: 250ms linear;
}

.answer_hover {
    @extend .answer;
    opacity: 1;
    transition: 250ms linear;
}

.temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    // width: 40vh;
    background-color: red;
    // overflow: hidden;
}