@import "../../_mixins";
.BodyDiv {
    width: 86%;
    @include paddingStyle($left: 7%, $right: 7%, $bottom: 10vh)
}

.HeaderText{
    @include fontStyle($fontSize: 7.2vh, $fontWeight: normal);
    margin-top: 12vh;
    margin-bottom: 5vh;
    text-decoration: underline;
    text-align: center
}

.IntroText{
    @include fontStyle($fontSize:3vh, $lineHeight:5vh);
    margin-bottom: 0vh;
    @include paddingStyle($top: 0vh, $right: 3vw, $left: 3vw);
    text-align: center;
}
 
.question {
    margin-top: 8vh;
    align-items: center;
    @include fontStyle($fontSize: 3vh)
}

.answer {
    opacity: 0;
    @include fontStyle($fontSize: 2.5vh, $lineHeight: 4.7vh)
}

.questionHover {
    @extend .question;
    margin-top: 2vh;
    transition: 250ms linear;
}

.answerHover {
    @extend .answer;
    opacity: 1;
    transition: 250ms linear;
}

.insideBox{
    text-align: center;
    width: 33.333%; 
    height: 60vh;
    @include paddingStyle($top: 7vh, $bottom: 3vh, $right: 3vh, $left: 3vh)
}

.Box{
    @include flexStyle();
    margin-top: 10vh;
    flex-direction: row;
    width: 100%
}

.Box2{
    @extend .Box;
    @include flexStyle($justify: flex-start)
}